In [4]:
import pandas as pd

# Read Iris sample
iris = pd.read_csv('sample/Iris.csv')

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [5]:
'''
Untuk membaca informasi yang didapat setelah membaca file csv bisa menggunakan pandas dengan menggunakan
fungsi info() atau fungsi head() (Fungsi head hanya membaca lima data teratas pada dataset)
'''
iris.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             150 non-null    int64
 1   SepalLengthCm  150 non-null    float64
 2   SepalWidthCm   150 non-null    float64
 3   PetalLengthCm  150 non-null    float64
 4   PetalWidthCm   150 non-null    float64
 5   Species        150 non-null    object
dtypes: float64(4), int64(1), object(1)
memory usage: 7.2+ KB

In [6]:
iris.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [7]:
'''
Bisa dilihat bahwa ada satu kolom yang tidak kita butuhkan yaitu kolom id, untuk menghilangkan
kolom id bisa menggunakan fungsi drop(). Parameter drop():
1. 'Id': Ini adalah label dari kolom yang ingin dihapus dari DataFrame iris. Dalam hal ini, kita menghapus kolom yang disebut 'Id'.
2. axis=1: Parameter ini menunjukkan bahwa yang ingin kita hapus adalah kolom ('Id'), bukan baris. Nilai axis=1 menunjukkan bahwa kita akan beroperasi pada sumbu kolom. Nilai axis=0 akan menunjukkan untuk menghapus baris.
3. inplace=True: Ketika inplace diatur sebagai True, itu berarti operasi ini akan mempengaruhi DataFrame iris itu sendiri, dan perubahan akan berlangsung di tempat. Artinya, DataFrame akan diubah tanpa perlu menetapkan hasilnya ke variabel baru. Jika inplace diatur sebagai False atau tidak disertakan, 
    maka itu akan mengembalikan DataFrame baru dengan perubahan yang diterapkan.
'''
iris.drop('Id', axis=1, inplace=True)

In [8]:
iris.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   SepalLengthCm  150 non-null    float64
 1   SepalWidthCm   150 non-null    float64
 2   PetalLengthCm  150 non-null    float64
 3   PetalWidthCm   150 non-null    float64
 4   Species        150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [10]:
# Sebelum train model memisahan atribut dengan label
x = iris[['SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm']]
y = iris['Species']

from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.1, random_state=123)

In [11]:
# Train model menggunakan fungsi fit()
from sklearn.tree import DecisionTreeClassifier

tree_model = DecisionTreeClassifier()

tree_model = tree_model.fit(x_train, y_train)

In [12]:
from sklearn.metrics import accuracy_score
 
y_pred = tree_model.predict(x_test)
 
acc_secore = round(accuracy_score(y_pred, y_test), 3)
 
print('Accuracy: ', acc_secore)

Accuracy:  0.933

In [ ]:
# prediksi model dengan tree_model.predict([[SepalLength, SepalWidth, PetalLength, PetalWidth]])
print(tree_model.predict([[3, 3.4, 5.4, 2.3]])[0])

In [15]:
from sklearn.tree import export_graphviz
export_graphviz(
    tree_model,
    out_file = "iris_tree.dot",
    feature_names = ['SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm'],
    class_names = ['Iris-setosa', 'Iris-versicolor', 'Iris-virginica' ],
    rounded= True,
    filled =True)