In [3]:
import sklearn
import pandas as pd
from sklearn import datasets

In [6]:
'''
Library sklearn menyediakan dataset iris yang biasa digunakan untuk masalah klasifikasi. Dataset ini 
berjumlah 150 sampel. Untuk menamplikan dataset dapat menggunakan 'load_iris()':
'''
iris = datasets.load_iris()
df = pd.DataFrame(data=iris.data, columns=iris.feature_names)
df

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                  5.1               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
..                 ...               ...                ...               ...
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

[150 rows x 4 columns]

In [8]:
'''
Dataset iris ini belum bisa dipakai oleh sebuah model ML. Step pertama adalah memisahkan
atribut dan label pada dataset.
'''
x = iris.data
y = iris.target

In [7]:
'''
Untuk membuat train set dan test set panggil fungsi train_test_split. 
Train_test_split memiliki parameter x sebagai atribut dari dataset, y sebagai target dari 
dataset, dan test_size sebagai persentase test set dari dataset utuh. Train_test_split 
mengembalikan 4 nilai yaitu, atribut dari train set, atribut dari test set, target dari 
train set, dan target dari test set.
'''
from sklearn.model_selection import train_test_split

In [9]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=1)

In [10]:
len(x_test)
'''
Jika dicek panjang dara x_test 30 ini sesuai dengan line sebelumnya kita menginginkan 20 % dari 
data sample dimana 150 - 20% = 30 
'''

30